{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Booked Ticket Status</h1>
                  <p class="mb-4">The details usually tells the number of Bus Routes registed for the MyBMTC app. The admin can view the particular Latitude and Longitude of the particular bus routes. </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Booked User Id</th>
                                            <th>Bus No.</th>
                                            <th>Starting Bus Stop</th>
                                            <th>Ending Bus Stop</th>
                                            <th>Bus Timing</th>
                                            <th>Timing & no. of stops</th>
                                            <th>face id</th>
                                            <th>payment status</th>
                                            <th>View Details</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>e400013r4</td>
                                            <td>362d</td>
                                            <td>mekhri circle</td>
                                            <td>yelhanka satellite town</td>
                                            <td>2:40am-3:50am</td>
                                            <td>22 hours(14)</td>
                                            <td>aditya.jpeg</td>
                                            <td>payment done</td>
                                            <td><a href="#" data-toggle="modal" data-target="#viewModal"class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">View</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>e400013r4</td>
                                            <td>362d</td>
                                            <td>mekhri circle</td>
                                            <td>yelhanka satellite town</td>
                                            <td>2:40am-3:50am</td>
                                            <td>22 hours(14)</td>
                                            <td>aditya.jpeg</td>
                                            <td>payment done</td>
                                            <td><a href="#" data-toggle="modal" data-target="#viewModal"class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">View</span>
                                            </a></td>

                                        </tr>
                                        <tr>
                                            <td>e400013r4</td>
                                            <td>362d</td>
                                            <td>mekhri circle</td>
                                            <td>yelhanka satellite town</td>
                                            <td>2:40am-3:50am</td>
                                            <td>22 hours(14)</td>
                                            <td>aditya.jpeg</td>

                                          <td>payment done</td>
                                          <td><a href="#" data-toggle="modal" data-target="#viewModal"class="btn btn-info btn-icon-split">
                                              <span class="icon text-white-50">
                                                  <i class="fas fa-info-circle"></i>
                                              </span>
                                              <span class="text">View</span>
                                          </a></td>
                                        </tr>
                                        <tr>
                                            <td>e400013r4</td>
                                            <td>362d</td>
                                            <td>mekhri circle</td>
                                            <td>yelhanka satellite town</td>
                                            <td>2:40am-3:50am</td>
                                            <td>22 hours(14)</td>
                                            <td>aditya.jpeg</td>
                                            <td>payment done</td>
                                          <td><a href="#" data-toggle="modal" data-target="#viewModal"class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">View</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>e400013r4</td>
                                            <td>362d</td>
                                            <td>mekhri circle</td>
                                            <td>yelhanka satellite town</td>
                                            <td>2:40am-3:50am</td>
                                            <td>22 hours(14)</td>
                                            <td>aditya.jpeg</td>
                                            <td>payment done</td>
                                            <td><a href="#" data-toggle="modal" data-target="#viewModal"class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">View</span>
                                            </a></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}
