{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Bus Routes Details</h1>
                  <p class="mb-4">The details usually tells the number of Bus Routes registed for the MyBMTC app. The admin can view the particular Latitude and Longitude of the particular bus routes. </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Rout Number</th>
                                            <th>Distance</th>
                                            <th> List of STOPS</th>
                                            <th>Update</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      <tr>
                                          <td>217B</td>
                                          <td>5.2782KM</td>
                                          <td><ul>
                                            <li>vidyanagar cross</li>
                                            <li>shivajinagar</li>
                                            <li>mekhri circle</li>
                                            <li>rajendra nagar</li>
                                          </ul></td>
                                        <td><a href="#" data-toggle="modal" data-target="#updateModal"class="btn btn-success btn-icon-split">
                                              <span class="icon text-white-70">
                                                  <i class="fas fa-pen"></i>
                                              </span>
                                              <span class="text">Update Details</span>
                                          </a></td>
                                      </tr>
                                        <tr>
                                            <td>217B</td>
                                            <td>5.2782KM</td>
                                            <td><ul>
                                              <li>vidyanagar cross</li>
                                              <li>shivajinagar</li>
                                              <li>mekhri circle</li>
                                              <li>rajendra nagar</li>
                                            </ul></td>
                                          <td><a href="#" data-toggle="modal" data-target="#updateModal"class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                                <span class="text">Update Details</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>217B</td>
                                            <td>5.2782KM</td>
                                            <td><ul>
                                              <li>vidyanagar cross</li>
                                              <li>shivajinagar</li>
                                              <li>mekhri circle</li>
                                              <li>rajendra nagar</li>
                                            </ul></td>
                                          <td><a href="#" data-toggle="modal" data-target="#updateModal"class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                                <span class="text">Update Details</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>217B</td>
                                            <td>5.2782KM</td>
                                            <td><ul>
                                              <li>vidyanagar cross</li>
                                              <li>shivajinagar</li>
                                              <li>mekhri circle</li>
                                              <li>rajendra nagar</li>
                                            </ul></td>
                                          <td><a href="#" data-toggle="modal" data-target="#updateModal"class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                                <span class="text">Update Details</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>217B</td>
                                            <td>5.2782KM</td>
                                            <td><ul>
                                              <li>vidyanagar cross</li>
                                              <li>shivajinagar</li>
                                              <li>mekhri circle</li>
                                              <li>rajendra nagar</li>
                                            </ul></td>
                                            <td><a href="#" data-toggle="modal" data-target="#updateModal"class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                                <span class="text">Update Details</span>
                                            </a></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}
