{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Bus Stops Details</h1>
                  <p class="mb-4">The details usually tells the number of Bus Stops registed for the MyBMTC app. The admin can view the particular Latitude and Longitude of the particular bus routes. </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Bus Stop Name</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Update Details</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      {%for data in bus_stop%}

                                      <tr>
                                          <td>{{data.bus_stop}}</td>
                                          <td>{{data.latitude}}</td>
                                          <td>{{data.longitude}}</td>
                                        <td><a href="#" data-toggle="modal" data-target="#updateModal" class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-pen"></i>
                                                </span>
                                                <span class="text">Update</span>
                                            </a></td>
                                      </tr>

                                      {%endfor%}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update the Bus Stop Details</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="" action="busstops.html" method="post">
                  <div class="modal-body">
                    <div class="form-group">
                      <label>BUS STOP NAME</label>
                      <input type="text" name="busstops" value="data.bus_stop" class="form-control" placeholder="Enter Bus Stop Name">
                    </div>
                    <div class="form-group">
                      <label>LATITUDE</label>
                      <input type="text" name="latitude" value="data.latitude" class="form-control" placeholder="Enter preferred latitude">
                    </div>
                    <div class="form-group">
                      <label>LONGITUDE</label>
                      <input type="text" name="longitude" value="data.longitude" class="form-control" placeholder="Enter preferred longitude">
                    </div>
                  </div>
                </form>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-success del" href="busstops.html">Update</a>
                </div>
            </div>
        </div>
</div>
<script>

</script>
{% endblock %}
