{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Customer Details</h1>
                  <p class="mb-4">The details usually tells the number of customer registed for the MyBMTC app. The admin have the permission to delete the particular record according to his choice. </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>

                                            <th>Delete Account</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                            <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr>
                                        <tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr><tr>
                                            <td>Aditya Singh</td>
                                            <td>adityassingh01@gmail.com</td>
                                            <td>9606661976</td>

                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                <span class="icon text-white-70">
                                                    <i class="fas fa-trash"></i>
                                                </span>
                                                <span class="text">Remove</span>
                                            </a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}
