{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Feedback From User</h1>
                  <p class="mb-4">The details usually tells the number of Bus Stops registed for the MyBMTC app. The admin can view the particular Latitude and Longitude of the particular bus routes. </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>userid</th>
                                            <th>feedback</th>
                                            <th>Delete feedback</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>0enjfene7733</td>
                                            <td>0enfeneddfs3</td>
                                            <td>the app was nice we enjoyed using it it was a gradient experiece using this app </td>
                                            <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                  <span class="icon text-white-70">
                                                      <i class="fas fa-trash"></i>
                                                  </span>
                                                  <span class="text">Remove</span>
                                              </a></td>
                                        </tr>
                                        <tr>
                                            <td>0enjfene7733</td>
                                            <td>0enfeneddfs3</td>
                                            <td>the app was nice we enjoyed using it it was a gradient experiece using this app </td>
                                          <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                  <span class="icon text-white-70">
                                                      <i class="fas fa-trash"></i>
                                                  </span>
                                                  <span class="text">Remove</span>
                                              </a></td>
                                        </tr>
                                        <tr>
                                            <td>0enjfene7733</td>
                                            <td>0enfeneddfs3</td>
                                            <td>the app was nice we enjoyed using it it was a gradient experiece using this app </td>
                                            <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                  <span class="icon text-white-70">
                                                      <i class="fas fa-trash"></i>
                                                  </span>
                                                  <span class="text">Remove</span>
                                              </a></td>
                                        </tr>
                                        <tr>
                                            <td>0enjfene7733</td>
                                            <td>0enfeneddfs3</td>
                                            <td>the app was nice we enjoyed using it it was a gradient experiece using this app </td>
                                              <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                  <span class="icon text-white-70">
                                                      <i class="fas fa-trash"></i>
                                                  </span>
                                                  <span class="text">Remove</span>
                                              </a></td>
                                        </tr>
                                        <tr>
                                            <td>0enjfene7733</td>
                                            <td>0enfeneddfs3</td>
                                            <td>the app was nice we enjoyed using it it was a gradient experiece using this app </td>
                                            <td><a href="#" data-toggle="modal" data-target="#deleteModal"class="btn btn-danger btn-icon-split">
                                                  <span class="icon text-white-70">
                                                      <i class="fas fa-trash"></i>
                                                  </span>
                                                  <span class="text">Remove</span>
                                              </a></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
{% endblock %}
